.f-section{
    padding: 50px 0 100px;
}
@media screen and (max-width: 1400px){
    .f-section{
        padding: 15px 0 60px;
    }
}
@media screen and (max-width: 920px){
    .f-section{
        padding: 35px 0 60px;
    }
}



.f-section__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-column-gap: 20px;
}
@media screen and (max-width: 1240px){
    .f-section__container{
        grid-column-gap: 10px;
    }
}
@media screen and (max-width: 920px){
    .f-section__container{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
}



.f-section__content{
    padding-top: 120px;
    position: relative;
}
@media screen and (max-width: 1400px){
    .f-section__content{
        padding-top: 90px;
    }
}
@media screen and (max-width: 1240px){
    .f-section__content{
        padding-top: 60px;
    }
}
@media screen and (max-width: 920px){
    .f-section__content{
        padding: 20px 0 90px
    }
}
@media screen and (max-width: 600px){
    .f-section__content{
        padding: 5px 0 20%;
    }
}
@media screen and (max-width: 500px){
    .f-section__content{
        padding: 5px 0 32%;
    }
}
@media screen and (max-width: 400px){
    .f-section__content{
        padding: 5px 0 46%;
    }
}


.f-section__img{

}
@media screen and (max-width: 920px){
    .f-section__img{
        padding-top: 10px;
    }
}


.f-section__img img{
    width: 100%;
}

.f-section__heading{
    margin-bottom: 18px;
}

.f-section__heading h1{
    font-size: 68px;
    font-weight: 600;
    line-height: 126%;
    text-transform: capitalize;
}
@media screen and (max-width: 1400px){
    .f-section__heading h1{
        font-size: 60px;
    }
}
@media screen and (max-width: 1240px){
    .f-section__heading h1{
        font-size: 48px;
    }
}
@media screen and (max-width: 920px){
    .f-section__heading h1{
        text-align: center;
        font-size: 35px;
    }
}
@media screen and (max-width: 600px){
    .f-section__heading{
        font-size: 31px;
    }
}



.f-section__paragraph{
    font-size: 18px;
    font-weight: 400;
    color: var(--color-dark-white);
    max-width: 660px;
    line-height: 170%;
}
@media screen and (max-width: 1240px){
    .f-section__paragraph{
        font-size: 16px;
    }
}
@media screen and (max-width: 920px){
    .f-section__paragraph{
        margin: 0 auto;
        text-align: center;
        font-size: 12.8px;
    }
}
@media screen and (max-width: 600px){
    .f-section__paragraph{
        margin-bottom: 9px;
    }
}



.f-section__search{
    background-color: var(--color-white);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.3);
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 164px;
    padding: 5px 5px 5px 40px;
    width: 890px;
    height: 100px;
    position: absolute;
    top: 427px;
}
@media screen and (max-width: 1400px){
    .f-section__search{
        top: 375px;
        height: 80px;
        width: 790px;
        grid-template-columns: 1fr 1fr 1fr 145px;
        padding: 5px 5px 5px 20px;
    }
}
@media screen and (max-width: 1240px){
    .f-section__search{
        height: 55px;
        width: 630px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        top: 313px;
    }
}
@media screen and (max-width: 920px){
    .f-section__search{
        top: initial;
        bottom: 0;
        width: 100%;
        height: 60px;
    }
}
@media screen and (max-width: 600px){
    .f-section__search{
        padding: 7px 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 60px;
        height: 40%;
        bottom: initial;
        top: initial;
        height: 220px;
        border-radius: 3px;
        box-shadow: 0rem 0.25rem 0.25rem rgb(0 0 0 / 30%);
    }
}
@media screen and (max-width: 400px){
    .f-section__search{
        height: auto;
    }
}


.search__group{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.last-search__group{

}
@media screen and (max-width:600px){
    .last-search__group{
        margin-bottom: 8px;
    }
}

.search__button{
    background-color: var(--color-bright-green);
    display: inline-block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 24px;
    font-weight: 500;
    color: var(--color-white);
    cursor: pointer;
}
@media screen and (max-width: 1240px){
    .search__button{
        font-size: 21px;
    }
}
@media screen and (max-width: 600px){
    .search__button{
        font-size: 18px;
        border-radius: 3px;
    }
}


.search__heading{
    display: flex;
    column-gap: 2px;
    cursor: pointer;
    position: relative;
}


.search__heading h5{
    font-size: 16px;
    font-weight: 400;
    color: var(--color-gray);
}
@media screen and (max-width: 1240px){
    .search__heading h5{
        font-size: 15px;
    }
}


.search__heading img{
    display: inline-block;
}

.search__menu{
    position: absolute;
    padding: 2px 0px;
    width: auto;
    top: 23px;
    left: -3px;
    border-radius: 5px;
    background-color: var(--color-bright-green);
    font-size: 18px;    
    font-weight: 600;
    color: var(--color-white);
    opacity: 0;
    transition-property: opacity;
    transition-duration: .3s;
    height: 140px;
    overflow-y: scroll;
    overflow-x: hidden;
}
@media screen and (max-width: 1240px){
    .search__menu{
        font-size: 14px;
    }
}

.search__choice p{
    color: var(--color-bcg);
    font-size: 18px;
    font-weight: 600;
}
@media screen and (max-width: 1240px){
    .search__choice p{
        font-size: 14px;
    }
}
@media screen and (max-width: 600px){
    .search__choice p{
        text-align: center;
        border: 1px solid rgba(128, 128, 128, 0.412);
        padding: 1px 0 2px;
    }
}



.f-section__overlay{
    display: block;
    width: 178px;
    height: 483px;
    position: absolute;
    right: -59px;
    top: 454px;
}

@media screen and (max-width: 1700px){
    .f-section__overlay{
        top: 504px;
        width: 128px;
        height: 433px;
    }
}
@media screen and (max-width: 1590px){
    .f-section__overlay{
        display: none;
    }
}

@media screen and (max-width: 1060px){
    .f-section__overlay{
        display: none;
    }
}




/* Скроллбар  .search__menu менюшки*/
.search__menu::-webkit-scrollbar {
    width: 5px;                                /* ширина scrollbar */
    background-color: var(--color-dark-white);        /* цвет дорожки */
    border-radius: 5px;
}

.search__menu::-webkit-scrollbar-thumb {
    background-color: var(--color-bcg-2);    /* цвет плашки */
    border-radius: 50px;                            /* закругления плашки */
    border-style: none;                             /* padding вокруг плашки */
}


.search__menu p{
    padding-left: 5px;
    padding-right: 4px;
    
}

.search__menu p:not(:last-child){
    margin-bottom: 4px;
}

.search__menu p:hover{
    text-shadow: 0px 0px 18px #fff;
    background-color: #146e64;
    ;
}



