.footer{
    padding: 140px 0 97px;
}
@media screen and (max-width: 1240px){
    .footer{
        padding: 50px 0 40px;
    }
}

.footer__container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column-gap: 140px;
    justify-content: center;
}
@media screen and (max-width: 1400px){
    .footer__container{
        grid-column-gap: 90px;
    }
}
@media screen and (max-width: 1240px){
    .footer__container{
        grid-template-columns: repeat(4, 1fr);
        row-gap: 50px;
    }
}
@media screen and (max-width: 920px){
    .footer__container{
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
    }
}
@media screen and (max-width: 600px){
    .footer__container{
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
}


.footer__logo{
    display: inline-block;
    width: 132px;
    margin-bottom: 22px;
}



.footer_paragraph{
    margin-bottom: 32px;
}


.footer__logo img{
    width: 100%;
}
@media screen and (max-width: 920px){
    .footer__logo img{
        width: 90%;
    }
}

.footer__logo-container{
    justify-self: start;
    width: 340px;
}
@media screen and (max-width: 1240px){
    .footer__logo-container{
        grid-column-start: 1;
        grid-column-end: -1;
    }
}
@media screen and (max-width: 600px){
    .footer__logo-container{
        width: 100%;
    }
}


.footer_paragraph p{
    font-size: 18px;
    font-weight: 400;
    line-height: 170%;
    color: var(--color-dark-white);
}
@media screen and (max-width: 920px){
    .footer_paragraph p{
        font-size: 14px;
    }
}

.footer__social{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 31px;
}

.footer__social li{
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer__social li a{

}
@media screen and (max-width: 920px){
    .footer__social li a{
        width: 90%;
    }
}


.footer__social li a svg{
    width: 100%;
}


.footer__col{
    display: flex;
    flex-direction: column;
    row-gap: 11px;
}


.footer__heading{
    font-size: 26px;
    font-weight: 600;
    line-height: 126%;
}
@media screen and (max-width: 920px){
    .footer__heading{
        font-size: 23px;
    }
}

.footer__options li{

}

.footer__options li a{
    font-size: 18px;
    font-weight: 400;
    line-height: 170%;
    color: var(--color-dark-white);
    transition-property: color, text-shadow;
    transition-duration: .2s;
    cursor: pointer;
    white-space: nowrap;
}
@media screen and (max-width: 920px){
    .footer__options li a{
        font-size: 14px;
    }
}

.footer__options li a:hover{
    color: var(--color-white);
    text-shadow: 0px 0px 18px rgb(255 255 255 / 25%);
}

.footer__options li:not(:last-child){
    margin-bottom: 5px;
}

.footer__social li a svg path{
    transition-property: fill;
    transition-duration: .3s;   
}


.footer__social li:hover a svg path{
    fill: var(--color-white);
}